{% extends 'base.html' %}



  
{% block content %}
<div class="page-header">
  <h2>Lista de Produtos
    <span class="pull-right">
      <a href="{% url 'produto:produto_add' %}">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus"></span> Adicionar

          </span>
        </button>
      </a>

  </h2>
  
  {% if object_list %}
    
  
  <table class="table table-striped">
    <thead>
      <tr>
      <th>Importado</th>
      <th>NCM</th>
      <th>Produto</th>
      <th>Preço</th>
      <th class="text-center">Estoque</th>
      <th class="text-center">Estoque minimo</th>
    </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
        <tr>
          <td>
            
            {% if obj.importado %}
              <i class="fa fa-check-circle ok"></i>
            {% else %}
              <i class="fa fa-minus-circle no"></i>
              
            {% endif %}
              </td>
          <td>{{ obj.ncm }}</td>
          <td><a href="{% url 'produto:produto_detail' pk=obj.pk %}">{{ obj.produto }} <i class="fa fa-external-link"> </a></td>
          <td>{{ obj.preco }}</td>
          <td class="text-center">{{ obj.estoque }}</td>
          <td class="text-center">{{ obj.estoque_minimo }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
      {% else %}
  <p class="alert alert-warning">Nenhum registro encontrado</p>
  {% endif %}
</div>
{% endblock content %}
